@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/** common **/
a {
  color: #00B7FF;
}

input[type="submit"] {
  margin-top: 10px;
  margin-bottom: 10px;
}

/** main **/
.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.main h1, .main h2, .main p, .main pre {
  text-align:center;
}

.main input {
  display: flex;
  justify-content: center;
  flex-direction:column;
  margin-left: auto;
  margin-right: auto;
}

.disambiguation-list {
  display: block;
  cursor: pointer;
  margin: 5px;
}

.poem-wrapper {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  background: #efeed9;
  color: #060c08;
  padding: 6px 24px 6px 24px;
  border-radius: 5px;
}

.align-center {
  text-align: center;
}

